@using System.Globalization
@using Azure.Core
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IViewLocalizer Localizer
@{
    string currentCulture = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AssetInsight</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AssetInsight.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav id="mainNavbar" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AssetInsight</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Post" asp-action="Index">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Stock" asp-action="Details">Market</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Backtest" asp-action="Index">Backtest strategies</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-bell-fill"></i>
                                    <span id="notification-count" class="badge rounded-pill bg-danger" style="display:none;">
                                        0
                                    </span>
                                </a>

                                @await Component.InvokeAsync("Notification")
                            </li>
                        }
                    </ul>

                    <button id="themeToggle" class="btn btn-outline-secondary btn-sm">
                        🌙
                    </button>

                    <select id="cultureSelect" class="lang-select">
                        <!option value="en" @(currentCulture == "en" ? "selected" : "")>🇳🇿 @Localizer["English"]</!option>
                        <!option value="bg" @(currentCulture == "bg" ? "selected" : "")>🇧🇬 @Localizer["Bulgarian"]</!option>
                        <!option value="de" @(currentCulture == "de" ? "selected" : "")>🇩🇪 @Localizer["German"]</!option>
                        <!option value="fr" @(currentCulture == "fr" ? "selected" : "")>🇫🇷 @Localizer["French"]</!option>
                        <!option value="es" @(currentCulture == "es" ? "selected" : "")>🇦🇷 @Localizer["Spanish"]</!option>
                    </select>

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div class="container mt-2">
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @TempData["Success"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @TempData["Error"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
            </div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - AssetInsight - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">All Notifications</h5>
                    <button type="button" id="markAllReadBtn" class="btn btn-sm btn-outline-primary ms-3">
                        Mark all as read
                    </button>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" id="modalNotificationBody">
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/autosize@4.0.2/dist/autosize.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            const connection = new signalR.HubConnectionBuilder().withUrl("/notificationHub").build();

            connection.on("ReceiveNotification", (message, url) => {
                let $badge = $("#notification-count");
                let count = parseInt($badge.text()) || 0;
                $badge.text(count + 1).show();

                const newNotificationHtml = `
                    <li>
                        <a class="dropdown-item py-3 border-bottom notification-item notification-unread"
                           href="${url}">
                            <div class="d-flex flex-column">
                                <small class="notification-date">Just now</small>
                                <span class="notification-text fw-bold">
                                    ${message}
                                </span>
                            </div>
                        </a>
                    </li>`;

                $("#notificationList .dropdown-header").after(newNotificationHtml);

                $("#no-notifications-msg").remove();
            });

            connection.start().catch(err => console.error(err.toString()));
        </script>
        <script>
            $('#notificationDropdown').on('show.bs.dropdown', function ()
            {
                $("#notification-count").hide().text("0");
            });
        </script>
        <script>
            $(document).on('click', '#markAllReadBtn', function() {
                fetch('/Notification/MarkAsRead', {
                    method: 'POST',
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    }
                })
                .then(() =>{
                   $('#notificationModal').trigger('show.bs.modal');

                   $("#notificationList .fw-bold").removeClass("fw-bold");

                   $("#notificationList .bg-primary-subtle").removeClass("bg-primary-subtle");
                });
            });
        </script>

        <script>
            async function loadUnreadCount() {
                try {
                    const res = await fetch('/Notification/GetUnreadCount');
                    const count = await res.json();

                    const badge = document.getElementById("notification-count");

                    if (count > 0) {
                        badge.textContent = count;
                        badge.style.display = "inline-block";
                    } else {
                        badge.style.display = "none";
                    }

                } catch (err) {
                    console.error(err);
                }
            }

            loadUnreadCount();
        </script>
        <script>
            $('#notificationModal').on('show.bs.modal', function () {
                const $body = $('#modalNotificationBody');
                const $markAllBtn = $('#markAllReadBtn');

                $body.html('<div class="text-center py-5"><div class="spinner-border text-primary"></div></div>');

                $.ajax({
                    url: '/Notification/GetFullNotificationsPartial',
                    type: 'GET',
                    success: function (data) {
                        $body.html(data);

                        const hasUnread = $(data).find('.bg-primary-subtle').length > 0;

                        if (hasUnread) {
                            $markAllBtn.show();
                        } else {
                            $markAllBtn.hide();
                        }
                    },
                    error: function () {
                        $body.html('<div class="text-danger text-center py-3">Failed to load.</div>');
                        $markAllBtn.hide();
                    }
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                $('#viewAllBtn').on('click', function(e) {
                    e.preventDefault();

                    const dropdownToggle = document.getElementById('notificationDropdown');
                    const bsDropdown = bootstrap.Dropdown.getInstance(dropdownToggle);
                    if (bsDropdown) {
                        bsDropdown.hide();
                    }

                    const myModal = new bootstrap.Modal(document.getElementById('notificationModal'));
                    myModal.show();
                });
            });
        </script>
        <script>
            $(document).on('click', '#notificationList .notification-item', function (e) {

                const id = $(this).data('id');
                const url = $(this).attr('href');
                const $item = $(this);

                e.preventDefault();

                fetch(`/Notification/MarkAsRead/${id}`, {
                    method: 'POST',
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    }
                })
                .then(() => {

                    $item.removeClass('notification-unread');
                    $item.find('.notification-text').removeClass('fw-bold');

                    let $badge = $("#notification-count");
                    let count = parseInt($badge.text()) || 0;

                    if (count > 0) {
                        $badge.text(count - 1);
                    }

                    window.location.href = url;
                });
            });
        </script>
        <script>
            $('#modalNotificationBody').on('click', '.notification-link', function(e) {
                const id = $(this).data('id');
                const $link = $(this);

                fetch(`/Notification/MarkAsRead/${id}`, {
                    method: 'POST',
                    headers: {
                        'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    }
                })
                .then(response => {
                    if (response.ok) {
                        $link.closest('.list-group-item').removeClass('bg-primary-subtle');
                        $link.closest('.list-group-item').find('p').removeClass('fw-bold');
                    }
                })
                .then(() => {
                    $('#notificationModal').modal('hide');
                });
            });
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
